.container{

    margin-top:200px;
    text-align:center;
}
.container .jumbotron{
      background:red;
      color:white;
}
.jumbotron a{
    background: yellow
    color:red;
    border:2px solid green;
}
#specialp{
    color:red;
    text-align:center;
    font-size:50px;
}
table{
    color:yellow;
    background:red;
    margin:auto;
    font-size:20px;
}