<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vivek</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel = "stylesheet" href="{% static 'css/job1.css' %}">
</head>
<body>
<div class="container">
    <div class="jumbotron">
      <h1>Welcome Vivek Jobs Portal</h1>
        <p>Job Updates For Every Hour....</p>
        <a class="btn btn-primary" href="hydjobs" role="button">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-info" href="knrjobs" role="button">Karimnagar Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="ngpjobs" role="button">Nagpur Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

</body>
</html>